# Database Configuration (From https://www.freesqldatabase.com/)
DB_HOST=sql.freedb.tech
DB_NAME=freedb_olshco_announcements
DB_USER=freedb_adrnpt
DB_PASS=n&ACAg5*FspPUWq

# API Keys (Securely stored in Vercel)
GEMINI_API_KEY=AIzaSyBe5WJ6wCd-_proZIyY4M6SZcRi5q5cigQ
RECAPTCHA_SITE_KEY=6LdVIK4sAAAAAI-W80-JPbeD1XXwMLDRR9atZIP1
RECAPTCHA_SECRET_KEY=6LdVIK4sAAAAACWjxW2WfoFMhjWUr3JXf5dZuajL

# Application URL (Update this after deploying to Vercel)
APP_URL=https://olshco-announcements-lapd-17ojtltyu.vercel.app/