# Database Configuration (From https://www.freesqldatabase.com/)
DB_HOST=sql.freedb.tech
DB_NAME=freedb_olshco_announcements
DB_USER=freedb_adrnpt
DB_PASS=n&ACAg5*FspPUWq

# API Keys (Securely stored in Vercel)
GEMINI_API_KEY=AIzaSyBe5WJ6wCd-_proZIyY4M6SZcRi5q5cigQ
RECAPTCHA_SITE_KEY=6LfvM7AsAAAAAAnu7KtS5Ihg90Pzfcj7UiIJNzsT
RECAPTCHA_SECRET_KEY=6LfvM7AsAAAAAPN9y2BVeMe_tFVOQLXXrPDfHV5d

# Application URL (Update this after deploying to Vercel)
APP_URL=https://olshco-announcements-lapd-17ojtltyu.vercel.app/
